<footer class = "footer mt-auto py-3" style = "background-color: rgba(120, 120, 120, 0.1);">
  <div class = "container d-flex justify-content-end align-items-center" >
    <p class = "float-start mb-1">
      <a href = "#">Topへ戻る</a>
    </p>
  </div>
</footer>
