/* border-bottom: 1px solid #eee; */


.items-sell-contents {
  /* background-color: #f5f5f5; */
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-sell-main {
  width: 70vw;
  padding: 0 15vw;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}


/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
/* /商品画像 */


/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0 5vh 0;
}

.items-text {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 20x;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}
/* /商品名と商品説明 */


/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}
/* 商品の詳細など */


/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: darkblue;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 25%;
  text-decoration: none;
}
.back-btn:hover{
  color: white;
}
.sell-btn, .back-btn {
  border-radius: 50px;
}
/* 下部ボタン */
